<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <p>
    <% anuncios.forEach(anuncio=> { %>
      <%= anuncio.nombre%>

        <img src="/<%=anuncio.foto%>" alt="" style="max-width: 420px; max-height: 300px;">
        <% if (anuncio.venta===true) { %>
          En venta
          <% } else { %>
            Se busca
            <% } %>
              <p>Precio: <%= anuncio.precio%>€ Tags: <%= anuncio.tags %>
              </p>
  </p>

  <% }) %>
    <% if (pagination.skip>= 1) { %>
      <a
        href="./?skip=<%= anterior = pagination.skip - 5 %>&nombre=<%= pagination.nombre %>&precio=<%= pagination.precio %>&venta=<%= pagination.venta %>&tags=<%= pagination.tags %>">
        previous</a>
      <a
        href="./?skip=<%= siguiente = pagination.skip + 5 %>&nombre=<%= pagination.nombre %>&precio=<%= pagination.precio %>&venta=<%= pagination.venta %>&tags=<%= pagination.tags %>">next
      </a>
      <% } else { %>
        <a
          href="./?skip=<%= pagination.skip = 5 %>&nombre=<%= pagination.nombre %>&precio=<%= pagination.precio %>&venta=<%= pagination.venta %>&tags=<%= pagination.tags %>">next
        </a>

        <% } %>
</body>

</html>